<footer>
    <div class="footer-container">
        <div class="footer-about">
            <h2>Hüseyin Budak Blog</h2>
            <p>Yazılım mühendisliği, siber güvenlik, teknoloji ve kişisel deneyimler üzerine paylaşımlar.</p>
        </div>

        <div class="footer-links">
            <h3>Hızlı Bağlantılar</h3>
            <ul>
                <li><a href="index.html">Ana Sayfa</a></li>
                <li><a href="about.html">Hakkımızda</a></li>
                <li><a href="blog.html">Yazılar</a></li>
                <li><a href="contact.html">İletişim</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <h3>Bizi Takip Edin</h3>
            <div class="social-icons">
                <a href="https://www.linkedin.com/in/huseyin-budak-286094252/" target="_blank">
                    <img src="/assets/icons/linkedin.png" alt="Linkedin">
                </a>
                <a href="https://www.instagram.com/huseyinbudak_?igsh=MWd1b3oyMWFidmkxOA%3D%3D&utm_source=qr"
                    target="_blank">
                    <img src="/assets/icons/instagram.png" alt="Instagram">
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© <span id="year"></span> Hüseyin Budak Blog | Tüm hakları saklıdır.</p>
    </div>

    <a href="#" class="go-top">↑</a>
</footer>

<script>
    document.getElementById("year").textContent = new Date().getFullYear();
</script>